<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Red Hat Amphitheater Events</title>
    <link>https://www.redhatamphitheater.com</link>
    <description>Events at Red Hat Amphitheater in Raleigh, NC</description>
    <language>en-us</language>
    <pubDate>Sun, 22 Feb 2026 22:16:06 GMT</pubDate>
    <item>
      <title>Simple Plan: It's Bigger Than You Think Tour: The Sequel (2026-08-15)</title>
      <link>https://www.redhatamphitheater.com/events/simple-plan-its-bigger-you-think-tour-sequel</link>
      <guid>https://www.redhatamphitheater.com/events/simple-plan-its-bigger-you-think-tour-sequel</guid>
      <description>Date: 2026-08-15

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-02/simple%20plan.jpg"/>
      <pubDate>Wed, 11 Feb 2026 11:16:28 GMT</pubDate>
    </item>
    <item>
      <title>Lindsey Stirling - Duality Untamed Tour (2026-07-17)</title>
      <link>https://www.redhatamphitheater.com/events/lindsey-stirling-duality-untamed-tour</link>
      <guid>https://www.redhatamphitheater.com/events/lindsey-stirling-duality-untamed-tour</guid>
      <description>Date: 2026-07-17

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/lindsey%20stirling.png"/>
      <pubDate>Mon, 26 Jan 2026 19:16:28 GMT</pubDate>
    </item>
    <item>
      <title>An Evening with Goose (2026-06-27)</title>
      <link>https://www.redhatamphitheater.com/events/evening-goose-1</link>
      <guid>https://www.redhatamphitheater.com/events/evening-goose-1</guid>
      <description>Date: 2026-06-27

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/goose_0.png"/>
      <pubDate>Mon, 26 Jan 2026 19:16:28 GMT</pubDate>
    </item>
    <item>
      <title>An Evening with Goose (2026-06-26)</title>
      <link>https://www.redhatamphitheater.com/events/evening-goose-0</link>
      <guid>https://www.redhatamphitheater.com/events/evening-goose-0</guid>
      <description>Date: 2026-06-26

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/goose.png"/>
      <pubDate>Mon, 26 Jan 2026 19:16:28 GMT</pubDate>
    </item>
    <item>
      <title>Disclosure Live (2026-04-30)</title>
      <link>https://www.redhatamphitheater.com/events/disclosure-live</link>
      <guid>https://www.redhatamphitheater.com/events/disclosure-live</guid>
      <description>Date: 2026-04-30

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/Disclosure%20Tour%20Art.jpg"/>
      <pubDate>Thu, 15 Jan 2026 19:16:17 GMT</pubDate>
    </item>
    <item>
      <title>Madison Beer the locket tour (2026-07-05)</title>
      <link>https://www.redhatamphitheater.com/events/madison-beer-locket-tour</link>
      <guid>https://www.redhatamphitheater.com/events/madison-beer-locket-tour</guid>
      <description>Date: 2026-07-05

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/madison%20beer.jpg"/>
      <pubDate>Wed, 14 Jan 2026 11:16:29 GMT</pubDate>
    </item>
    <item>
      <title>Bush The Land Of Milk and Honey Tour (2026-04-14)</title>
      <link>https://www.redhatamphitheater.com/events/bush-land-milk-and-honey-tour</link>
      <guid>https://www.redhatamphitheater.com/events/bush-land-milk-and-honey-tour</guid>
      <description>Date: 2026-04-14

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/04.14.26%20-%20Bush.jpg"/>
      <pubDate>Fri, 9 Jan 2026 19:16:21 GMT</pubDate>
    </item>
    <item>
      <title>Khalid: It’s Always Summer Somewhere Tour (2026-06-06)</title>
      <link>https://www.redhatamphitheater.com/events/khalid-its-always-summer-somewhere-tour</link>
      <guid>https://www.redhatamphitheater.com/events/khalid-its-always-summer-somewhere-tour</guid>
      <description>Date: 2026-06-06

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-12/khalid.jpg"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Sam Barber The American Route Tour (2026-06-04)</title>
      <link>https://www.redhatamphitheater.com/events/sam-barber-american-route-tour</link>
      <guid>https://www.redhatamphitheater.com/events/sam-barber-american-route-tour</guid>
      <description>Date: 2026-06-04

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-10/sam%20barber.jpg"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Iration: Where It All Began Summer Tour 2026 (2026-05-22)</title>
      <link>https://www.redhatamphitheater.com/events/iration-where-it-all-began-summer-tour-2026</link>
      <guid>https://www.redhatamphitheater.com/events/iration-where-it-all-began-summer-tour-2026</guid>
      <description>Date: 2026-05-22

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-12/Iration.png"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>STING 3.0 (2026-05-19)</title>
      <link>https://www.redhatamphitheater.com/events/sting-30</link>
      <guid>https://www.redhatamphitheater.com/events/sting-30</guid>
      <description>Date: 2026-05-19

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-11/sting.png"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Ole 60- Smokestack Town Tour With special guest Rob Langdon &amp; The Bends (2026-05-16)</title>
      <link>https://www.redhatamphitheater.com/events/ole-60-smokestack-town-tour-special-guest-rob-langdon-bends</link>
      <guid>https://www.redhatamphitheater.com/events/ole-60-smokestack-town-tour-special-guest-rob-langdon-bends</guid>
      <description>Date: 2026-05-16

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-12/ole_60.jpg"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Bilmuri (2026-05-08)</title>
      <link>https://www.redhatamphitheater.com/events/bilmuri</link>
      <guid>https://www.redhatamphitheater.com/events/bilmuri</guid>
      <description>Date: 2026-05-08

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-12/Bilmuri.png"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Alabama Shakes (2026-04-25)</title>
      <link>https://www.redhatamphitheater.com/events/alabama-shakes</link>
      <guid>https://www.redhatamphitheater.com/events/alabama-shakes</guid>
      <description>Date: 2026-04-25

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-12/Alabama%20Shakes.jpg"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Russell Dickerson RUSSELLMANIA Tour (2026-04-23)</title>
      <link>https://www.redhatamphitheater.com/events/russell-dickerson-russellmania-tour</link>
      <guid>https://www.redhatamphitheater.com/events/russell-dickerson-russellmania-tour</guid>
      <description>Date: 2026-04-23

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-09/20260423%20-%20Russel%20Dickerson.png"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>Lamb of God With Kublai Khan TX, Fit For An Autopsy, &amp; Sanguisugabogg (2026-04-16)</title>
      <link>https://www.redhatamphitheater.com/events/lamb-god-kublai-khan-tx-fit-autopsy-sanguisugabogg</link>
      <guid>https://www.redhatamphitheater.com/events/lamb-god-kublai-khan-tx-fit-autopsy-sanguisugabogg</guid>
      <description>Date: 2026-04-16

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-11/20260416%20-%20lamb%20of%20god.jpg"/>
      <pubDate>Tue, 23 Dec 2025 21:42:12 -0500</pubDate>
    </item>
    <item>
      <title>O.A.R. - Three Decades Tour (2026-07-29)</title>
      <link>https://www.redhatamphitheater.com/events/oar-three-decades-tour</link>
      <guid>https://www.redhatamphitheater.com/events/oar-three-decades-tour</guid>
      <description>Date: 2026-07-29

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-10/Static_Social-Instagram_1080x1080_OAR_2026_Regional_RedHatAmphitheaterRaleigh_0729.jpg"/>
      <pubDate>Tue, 23 Dec 2025 17:44:07 -0500</pubDate>
    </item>
  </channel>
</rss>
