<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Red Hat Amphitheater Events</title>
    <link>https://www.redhatamphitheater.com</link>
    <description>Events at Red Hat Amphitheater in Raleigh, NC</description>
    <language>en-us</language>
    <pubDate>Sun, 12 Jul 2026 13:16:29 GMT</pubDate>
    <item>
      <title>Simple Plan: It's Bigger Than You Think Tour: The Sequel (2026-08-15)</title>
      <link>https://www.redhatamphitheater.com/events/simple-plan-its-bigger-you-think-tour-sequel</link>
      <guid>https://www.redhatamphitheater.com/events/simple-plan-its-bigger-you-think-tour-sequel</guid>
      <description>Date: 2026-08-15

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-02/simple%20plan.jpg"/>
      <pubDate>Wed, 11 Feb 2026 11:16:28 GMT</pubDate>
    </item>
    <item>
      <title>Lindsey Stirling - Duality Untamed Tour (2026-07-17)</title>
      <link>https://www.redhatamphitheater.com/events/lindsey-stirling-duality-untamed-tour</link>
      <guid>https://www.redhatamphitheater.com/events/lindsey-stirling-duality-untamed-tour</guid>
      <description>Date: 2026-07-17

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/lindsey%20stirling.png"/>
      <pubDate>Mon, 26 Jan 2026 19:16:28 GMT</pubDate>
    </item>
    <item>
      <title>Madison Beer the locket tour (2026-07-05)</title>
      <link>https://www.redhatamphitheater.com/events/madison-beer-locket-tour</link>
      <guid>https://www.redhatamphitheater.com/events/madison-beer-locket-tour</guid>
      <description>Date: 2026-07-05

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2026-01/madison%20beer.jpg"/>
      <pubDate>Wed, 14 Jan 2026 11:16:29 GMT</pubDate>
    </item>
    <item>
      <title>O.A.R. - Three Decades Tour (2026-07-29)</title>
      <link>https://www.redhatamphitheater.com/events/oar-three-decades-tour</link>
      <guid>https://www.redhatamphitheater.com/events/oar-three-decades-tour</guid>
      <description>Date: 2026-07-29

Plan Your VisitVenue Policies: Click here to view venue policies &amp; general informationSeat Upgrades: Click here to view seat upgrades</description>
      <enclosure type="image/jpeg" url="https://www.redhatamphitheater.com/sites/rha/files/events/2025-10/Static_Social-Instagram_1080x1080_OAR_2026_Regional_RedHatAmphitheaterRaleigh_0729.jpg"/>
      <pubDate>Tue, 23 Dec 2025 17:44:07 -0500</pubDate>
    </item>
  </channel>
</rss>
